extends layout

block content 
    h2 You are currently viewing #{name} automobiles

    if brands_list
        p You must delete the following cars before deleting #{name}
        each car in brands_list
            a(href=brand.url)

    else 
        p Do you really want to remove this brand?

        form(method="POST" action="").delete
            div.form-group
                input(type="hidden", name="name", required="true", value=name)
            
            button(type="submit") Delete