* {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
}

:root {
  --bg-color: #eee;
  --main-color: #444;
  --caret-color: #444;
  --sub-color: #b2b2b2;
  --sub-alt-color: #ddd;
  --text-color: #444;
  --error-color: #d70000;
  --error-extra-color: #d70000;
  --colorful-error-color: #d70000;
  --colorful-error-extra-color: #d70000;
}

::selection:not(img) {
  color: var(--bg-color);
  background-color: var(--text-color);
}

@font-face {
  font-family: "Roboto";
  src: url("../../fonts/Roboto-Regular.ttf");
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: sans-serif, Arial;
  background-color: var(--bg-color);
  color: var(--text-color);
  min-height: 100vh;
}

h1 {
  margin: 20px;
}

h2 {
  font-size: 20px;
  margin: 20px 0px 40px 0px;
}

a {
  appearance: none;
  text-decoration: none;
  color: var(--text-color);
}

a.header {
  margin: 20px;
  border: 5px solid var(--bg-color);
  border-radius: 30px;
  color: var(--bg-color);
  background-color: var(--text-color);
  user-select: none;
}

a.header:hover {
  background-color: var(--sub-color);
  color: var(--text-color);
}

a.header:active {
  border: 5px solid var(--text-color);
  background-color: var(--sub-alt-color);
  color: var(--text-color);
}

a.create, a.delete, a.update {
  margin-bottom: 10px;
  border: 3px solid var(--text-color);
  padding: 8px;
  user-select: none;
}

a.create, a.update {
  margin-top: auto;
}

a.create:hover, a.delete:hover, a.update:hover {
  background-color: var(--sub-color);
  color: var(--text-color);
}

a.create:active, a.delete:active, a.update:active {
  border: 3px solid var(--text-color);
  background-color: var(--sub-alt-color);
  color: var(--text-color);
}

form {
  border: 1px solid var(--text-color);
  padding: 10px;
}

form > * {
  margin: 10px;
}

input[type="text"] {
  appearance: none;
  outline: none;
  border: 1px solid var(--text-color);
  padding: 5px;
}

button[type="submit"] {
  color: var(--bg-color);
  background-color: var(--text-color);
  font-weight: bold;
  padding: 10px;
  border-radius: 8px;
  border: 2px solid var(--bg-color);
  float: right;
}

button[type="submit"]:hover {
  background-color: var(--sub-color);
  color: var(--text-color);
}

button[type="submit"]:active {
  border: 2px solid var(--text-color);
  background-color: var(--sub-alt-color);
  color: var(--text-color);
}

.form-group {
  display: flex;
  justify-content: space-between;
}

li {
  margin-top: 3px;
  color: var(--error-color);
}

.brand {
  padding: 10px;
  width: 250px;
  height: 250px;
}

.brand > a {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  height: 100%;
}

.brand img {
  width: 150px;
  user-select: none;
}

.brand:hover {
  background-color: var(--sub-alt-color);
}

.brand:active {
  background-color: var(--sub-color);
}

.brands {
  width: min(1000px, 100%);
  display: grid;
  grid-template-columns: repeat(auto-fit, 300px);
  grid-auto-rows: 300px;
  grid-auto-columns: 300px;
  justify-items: center;
}

form.delete {
  border: none;
  margin-top: -20px;
}

.car img {
  height: 275px;
  border: 5px solid var(--bg-color);
}

.car img:hover {
  border: 5px solid var(--text-color);
}

.car img:active {
  border: 5px solid var(--sub-color);
}

.description {
  display: flex;
  justify-content: space-between;
  padding: 5px;
}

.cars {
  display: grid;
  width: min(1500px, 100%);
  grid-template-columns: repeat(auto-fit, 300px);
  grid-auto-rows: 350px;
  justify-items: center;
}

.car-display img {
  height: 500px;
}

.car-display {
  display: flex;
}

.desc {
  width: 500px;
  padding: 0px 20px 0px 20px;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  gap: 40px;
}

.misc {
  display: flex;
  justify-content: space-between;
}

img.car {
  height: 400px;
}

textarea, input[type="text"], input[type="number"] {
  padding: 10px;
}

textarea {
  line-height: 150%;
}
